/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#header {
  background-color: black;
  /* color: white; */
  height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#header .nav,
#header .nav > li {
  display: inline-block;
}
#header .nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  line-height: 46px;
  padding: 0 24px;
}
#header > .nav > li:hover > a {
  background-color: #ccc;
  color: black !important;
}
#header > .nav > li:hover .subnav {
  display: block;
}
#header .nav > li > a {
  text-transform: uppercase;
}
#header .subnav {
  display: none;
  position: absolute;
  top: 46px;
  background-color: white;
}
#header .subnav li {
  display: block;
  min-width: 160px;
  line-height: 36px;
}
#header .subnav li a {
  color: black;
  display: block;
}
#header .subnav > li:hover a {
  background-color: #ccc;
}

#header .nav .drow-down-icon {
  display: inline-block;
  font-size: 20px;
  line-height: 46px;
  padding: 0 10px;
}
#header #search-btn {
  color: white;
  float: right;
  display: block;
  padding: 0 21px;
  width: 60px;
  height: 46px;
}
#header .search-icon {
  line-height: 46px;
  font-size: 18px;
}
#header #search-btn:hover {
  background-color: red;
  color: white;
}
#slider {
  position: relative;
  margin-top: 46px;
  width: 100%;
  padding-top: 50%;
  background: url(../img/img3.jpg) top center / cover no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 46px;
  color: white;
  width: 100%;
  text-align: center;
}
#slider .text-discription {
  margin-top: 25px;
}
#slider .text-heading {
  font-weight: 400;
  font-size: 24px;
}
.content {
  padding: 64px 0 112px;
  max-width: 100%;
  width: 800px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}
.content .heading,
.content .sub-heading {
  text-align: center;
}
.content .heading {
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 30px;
  letter-spacing: 4px;
}
.content .sub-heading {
  margin-top: 25px;
  opacity: 0.6;
  font-style: italic;
}

#band .about-text {
  text-align: justify;
  margin-top: 25px;
  line-height: 1.6;
  font-size: 15px;
}

#band .member-item {
  margin-top: 32px;
  padding: 0 8px;
  float: left;
  width: 33.333%;
  text-align: center;
}
#band .item-pic {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
#tour {
  background-color: black;
  width: 100%;
}
#tour {
  color: white !important;
}
#tour ul li {
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}
#tour .ticket-list {
  background-color: white;
  color: #000000b7;
  list-style: none;
  margin-top: 40px;
}
#tour .sold-out {
  background-color: #f44336;
  color: white;
  padding: 3px 4px;
  margin-left: 16px;
}
#tour li .quantity {
  float: right;
  font-size: 15px;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}
#tour .place-list {
  margin-top: 16px;
  margin-left: -8px;
  margin-right: -8px;
}
#tour .place-item {
  float: left;
  width: 33.333%;
  padding: 0 8px;
  margin-top: 16px;
}
#tour .place-list::after {
  content: "";
  clear: both;
  display: block;
}
#tour .place-body {
  background-color: white;
  padding: 16px;
  color: black;
  font-size: 15px;
}
#tour .place-img {
  width: 100%;
  display: block;
}
#tour .place-img:hover {
  opacity: 0.6;
  transition: 0.4s;
}
#tour .place-time {
  opacity: 0.7;
}
#tour .place-time,
#tour .buy-ticket-btn,
#tour .place-detail {
  margin-top: 15px;
}
#tour .buy-ticket-btn {
  padding: 11px 16px;
  background-color: #000;
  color: #fff;
  border: none;
}
#tour .buy-ticket-btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
  transition: 0.4s;
}
#contact .contact-info,
#contact .contact-form {
  float: left;
  width: 50%;
  margin-top: 48px;
}
#contact .contact-info {
  line-height: 1.8;
  font-weight: 500;
  font-size: 18px;
}

.contact-info i[class*="fa-"] {
  display: inline-block;
  width: 30px;
}
.contact-content::after,
.contact-form::after {
  content: "";
  display: block;
  clear: both;
}
/* 





 */
.clear {
  clear: both;
}
.contact-form {
  font-size: 15px;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.form-comtrol {
  padding: 10px;
}
.mt-8 {
  margin-top: 8px;
}
.submit-btn {
  padding: 11px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 400;
  margin-top: 12px;
  float: right;
  cursor: pointer;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #ccc;
  color: #000;
  transition: 0.4s;
}
.img-bottom {
  width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
.socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  padding: 5px;
  text-decoration: none;
  color: #757575;
}
.copy-right {
  margin-top: 20px;
  color: #757575;
  font-weight: 400;
}
.copy-right a {
  color: #757575;
}
